<!DOCTYPE html>

<html lang="ja"><head><meta charset="UTF-8">

  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

  <title>メインメニュー</title>

</head><body>
<div class="content">
    <h2 style="text-align:center;"><b><ul>メインメニュー&nbsp;&nbsp;&nbsp;</ul></b></h2>
    <h3 style="text-align:center;"><b><ul>【一問一答】&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ul></b></h3>
<!--
    <h3 style="text-align:center;"><b><ul>【人】</ul></b></h3>
-->
        <form action="makeExam3" method="POST">
        <input type="hidden" name="user_id" value={{ user_id }} />
        <div id="main">
            <div class="row">
                <div class="six cols">
                    <div class="row">
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="81" style="background:#642852">
                                チーム作り <br>［時間:2分 / 1問］
                            </button>
                        </div>
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="82" style="background:#642852">
                                評価・パフォーマンス<br>［時間:2分 / 1問］
                            </button>
                        </div>
                    </div>
                </div>
                <div class="six cols">
                    <div class="row">
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="83" style="background:#642852">
                                交渉・コンフリクト<br>［時間:2分 / 1問］
                            </button>
                        </div>
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="84" style="background:#642852">
                                協力・サポート<br>［時間:2分 / 1問］
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--    <h3 style="text-align:center;"><b><ul>【プロセス】</ul></b></h3>
-->
        <div id="main">
            <div class="row">
                <div class="six cols">
                    <div class="row">
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="85" style="background:#3D6793">
                                プロセス全体 <br>［時間:2分 / 1問］
                            </button>
                        </div>
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="86" style="background:#3D6793">
                                予測的アプローチ<br>［時間:2分 / 1問］
                            </button>
                        </div>
                    </div>
                </div>
                <div class="six cols">
                    <div class="row">
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="87" style="background:#3D6793">
                                アジャイル<br>［時間:2分 / 1問］
                            </button>
                        </div>
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="88" style="background:#3D6793">
                                ハイブリッド<br>［時間:2分 / 1問］
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        <hr size="3" noshade="">
    <h3 style="text-align:center;"><b><ul>【事業環境】</ul></b></h3>
-->
        <div id="main">
            <div class="row">
                <div class="six cols">
                    <div class="row">
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="89" style="background:#219B9A">
                                コンプライアンス<br>［時間:2分 / 1問］
                            </button>
                        </div>
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="90" style="background:#219B9A">
                                ベネフィットと価値<br>［時間:2分 / 1問］
                            </button>
                        </div>
                    </div>
                </div>
                <div class="six cols">
                    <div class="row">
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="91" style="background:#219B9A">
                                外部ビジネス環境の変化<br>［時間:2分 / 1問］
                            </button>
                        </div>
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="92" style="background:#219B9A">
                                組織の変更<br>［時間:2分 / 1問］
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>

        <hr size="3" noshade="">
<!--
        <h3 style="text-align:center;"><b><ul>【確認問題】</ul></b></h3>
-->
    <center><h3><b><ul>【確認問題】&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ul></b></h3></center>
        <form action="makeExam" method="POST">
        <input type="hidden" name="user_id" value={{ user_id }} />
        <div id="main">
            <div class="row">
                <div class="six cols">
                    <div class="row">
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="10" style="background:#642852">
                                人<br>［時間:13分 / 10問］
                            </button>
                        </div>
                        <div class="six mobile-two cols">
                            <input type="hidden" name="user_id" value={{ user_id }} />
                            <button class="top-buttons" type="submit" name="category" value="20" style="background:#3D6793">
                                プロセス<br>［時間:13分 / 10問］
                            </button>
                        </div>
                    </div>
                </div>
                <div class="six cols">
                    <div class="row">
                        <div class="six mobile-two cols">
                            <input type="hidden" name="user_id" value={{ user_id }} />
                            <button class="top-buttons" type="submit" name="category" value="30" style="background:#219B9A">
                                事業環境<br>［時間:13分 / 10問］
                            </button>
                        </div>
                        <div class="six mobile-two cols">
                            <input type="hidden" name="user_id" value={{ user_id }} />
                            <button class="top-buttons" type="submit" name="category" value="60" style="background:#303030">
                                全ドメイン<br>［時間:23分 / 18問］
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr size="3" noshade="">

    <h3 style="text-align:center;"><b><ul>【模擬試験・実力試験】&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ul></b></h3>

        <div id="main">
            <div class="row">
                <div class="six cols">
                    <div class="row">
                        <div class="six mobile-two cols">
{% if status >= 10 %}
                            <button class="top-buttons" type="submit" name="category" value="70" style="background:#303030" >
                                模擬試験【180問】<br>［時間：3時間50分］<br>（休憩10分 x 2回）
                            </button>
                        </div>
                        <div class="six mobile-two cols">
    {% if status >= 30 %}
        模擬試験で５回以上、合格することができました。実力試験に挑戦することができます。
    {% else %}
        模擬試験に挑戦できるようになりました。
    {% endif %}
{% else %}
                            <button class="top-buttons" type="submit" name="category" value="01"
                                    style="background:#A0A0A0;color:#D0D0D0"
                                    onclick='alert("模擬試験に挑戦することはできません。");'>
                                    模擬試験【180問】<br>［時間：3時間50分］<br>（休憩10分 x 2回）
                            </button>

                        </div>
                        <div class="six mobile-two cols">
模擬試験には、まだ挑戦できません。
</script>
{% endif %}
                        </div>
                    </div>
                </div>

                <div class="six cols">
                    <div class="row">
                        <div class="six mobile-two cols">
{% if 30 <= status%}
                            <button class="top-buttons" type="submit" name="category" value="80" style="background:#303030">
                                実力試験【180問】<br>［時間：3時間50分］<br>（休憩10分 x 2回）
                            </button>
                        </div>
                        <div class="six mobile-two cols">

    {% if status == 30 %}
        実力試験に挑戦できるようになりました。２回連続で合格すると修了です。
    {% elif status == 31 %}
        合格することができました。連続してもう一度、合格すると修了です。
    {% else %}
        おめでとうございます。修了しました。
    {% endif %}
{% else %}
                            <button class="top-buttons" type="submit" name="category" value="01"
                                    style="background:#D4AF37;color:#D0D0D0"
                                    onclick='alert("実力試験に挑戦することはできません。");'>
                                実力試験【180問】<br>［時間：3時間50分］<br>（休憩10分 x 2回）
                            </button>
                        </div>
                        <div class="six mobile-two cols">
実力試験には、まだ挑戦できません。模擬試験に少なくとも5回合格が必要です。
{% endif %}
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>

<div class="buttonwrap" style="display:inline-flex">
    <form action="makeExam" method="POST">
        <input type="hidden" name="user_id" value={{ user_id }} />
        <input type="hidden" name="category" value="99">
        <input type="submit"value="管理画面"
               style="background:#f2f2f2;color:black;border:1">
    </form>


<form action="/logout" method="POST">
        <input type="hidden" name="user_id" value={{ user_id }} />
        <input type="submit" value="ログアウト"
               style="background:#f2f2f2;color:black;border:1">
</form>
</div>
</div></body>
</html>