<!DOCTYPE html>

<html lang="ja"><head><meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <title>メンテナンス</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

</head>

{% if mode == 1 %}
        <body bgcolor="#F8CBAD">
{% else %}
        <body bgcolor="#CCCCFF">
{% endif %}

<center><h2><b><ul>
{% if qid == 0 %}
        登録内容確認
{% else %}
        変更内容確認
{% endif %}
    </ul></b></h2></center>


<center>
    <p>下表の問題を登録します。</p>

    <table border="1" style="border-collapse: collapse">
{% if qid != 0 %}
        <tr><td width="80">問題番号</td><td width="420">{{ qid }}</td></tr>
{% endif %}
        <tr><td>領域</td><td>{{ category }}</td></tr>
        <tr><td>カテゴリ</td><td>{{ level }}</td></tr>
        <tr><td>問題</td><td>{{ question }}</td></tr>
        <tr><td>正解</td><td>{{ answer }}</td></tr>
        <tr><td>選択１</td><td>{{ choice1 }}</td></tr>
        <tr><td>選択２</td><td>{{ choice2 }}</td></tr>
        <tr><td>選択３</td><td>{{ choice3 }}</td></tr>
    </table>
<br>
{% if flag != 0 %}
    {% if old_comments == '' %}
    解説を新規に登録します。
    {% elif flag == 2 %}
    解説を更新します。
    {% else %}
    解説番号と解説内容は変わらないので更新しません。
    {% endif %}

    <table  border="1" style="border-collapse: collapse">
        <tr><td width="80">解説番号</td><td width="420">{{ cid }}</td></tr>
    {% if old_comments != '' %}
        <tr><td>以前の解説</td><td>{{ old_comments }}</td></tr>
    {% endif %}
        <tr><td>解説</td><td>{{ comments }}</td></tr>
{% endif %}
    </table>
<br>
<div class="normalButton">
        <form action="maintenance" method="POST">
        <input type="hidden" name="user_id" value={{ user_id }} />
        <input type="hidden" name="qid" readonly="true" value={{ qid }} >
        <input type="hidden" name="category" readonly="true" value={{ category }} >
        <input type="hidden" name="level" readonly="true" value={{ level }} >
        <input type="hidden" name="question" readonly="true" value={{ question }} />
        <input type="hidden" name="answer" readonly="true" value={{ answer }} />
        <input type="hidden" name="choice1" readonly="true" value={{ choice1 }} />
        <input type="hidden" name="choice2" readonly="true" value={{ choice2 }} />
        <input type="hidden" name="choice3" readonly="true" value={{ choice3 }} />
        <input type="hidden" name="cid" readonly="true" value={{ cid }} />
        <input type="hidden" name="comments" readonly="true" value={{ comments }} />
        <input type="hidden" name="flag" value={{ flag }} />
        <input type="hidden" name="command" value="update">
{% if qid != 0 %}
        <input type="submit" value="更新">
{% else %}
        <input type="submit" value="新規登録">
{% endif %}
        </form>

    <div class="buttonwrap" style="display:inline-flex">
    <button onclick="history.back()" width="250px" padding="100"
           cursor="pointer">
        演習問題管理<br>画面へ戻る</button>
    <form action="makeExam" method="POST">
        <input type="hidden" name="user_id" value={{ user_id }} />
        <input type="hidden" name="category" value="99">
        <input type="submit" value="管理画面へ戻る"
               style="background:#f2f2f2;color:black;border:1">
    </form>
</div>
</div>

</center>>
</body></body>
</html>