<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<SCRIPT LANGUAGE=javascript>

// 時間の処理
    var total = {{ total }};
//    var hour = {{ timeHour }};
//    var min = {{ timeMin }};
//    var sec = {{ timeSec }};
    var elapsedTime = 0;
    var hour = 0;
    var min = 0;
    var sec = 0;
    var flag = 0;
    var mSec = 0;
    var strH;
    var strM;
    var strS;
    var hours = 0;
    var seconds=0;
    var minutes=0;
    var usedTime = {{ usedTime }};
    var total_time = {{ total_time }};

    plus = hour * 3600 + min * 60 + sec;
//    alert(sec);
    var nTime = (new Date().getTime()).toString().slice(0, 10);
    var limit = 600;

    function countTime(){
        rTime = (new Date().getTime()).toString().slice(0, 10);
        elapsedTime = rTime - nTime + plus;
        hours = Math.trunc(elapsedTime / 3600);
        minutes = Math.trunc(elapsedTime / 60);
        seconds = elapsedTime % 60;
        if((elapsedTime > limit) && (flag == 0)){
                flag ++;
                }
        minutes = minutes - hours * 60;
        strH = hours;
        strM = minutes;
        strS = seconds;
        if(minutes < 10) strM = "0" + strM;
        if(seconds < 10) strS = "0" + strS;

        if (hours == 0 )
            document.getElementById("time").value = strM  + ":" + strS;
        else
            document.getElementById("time").value = strH + ":" + strM  + ":" + strS;

        if(flag >= 1){
            document.selectionForm.submit();
        }
    }

//window.onload = initialize;
</SCRIPT>

<center><h2><b><ul>休憩画面（{{ sleep }}回目）</ul></b></h2></center>

</br>

<!--
  {{ correctlist }}
-->
  {{ usedTime }}
  {{ total_time }}

前セクションでの使用時間：{{ timeHour }}時間 {{ timeMin }}分 {{ timeSec }} 秒 </br>

<body onload="timer1=setInterval('countTime()',1000);func()" style="background:white">
<!-- 制御変数 -->
<form action="exercise" name="selectionForm">
    <input type="hidden" name="user_id" value={{ user_id }} />
    <input type="hidden" name="title" value={{ title }} />
    <input type="hidden" name="exam_id" value={{ exam_id }} />
    <input type="hidden" id="total" name="total" value={{ total }} />
    <input type="hidden" name="examlist" value={{ examlist }} />
    <input type="hidden" name="arealist" value={{ arealist }} />
    <input type="hidden" id="command" name="command" value="start" />
    <input type="submit" value="次のセクションへ">

</form>>
    <form action="">
    <H4>休憩時間の使用状況  <input type="text" id="time"
                   style="border:0;font-size:large;width:100px;bgcolor:white;"/></H4>
    </form>

</body>

</html>